.main {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

.main section {
  width: min(90vw, 55rem);
  display: grid;
  align-self: center;
  text-align: center;
  gap: 1rem;
}

.main section img {
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse; /* Ensure the borders are not doubled */
  width: 100%;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

td {
  background-color: #444;
  color: white;
}

.poster:hover {
  scale: 1.15;
}

.poster {
  transition: 0.3s;
}

.eventList {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  list-style-type: none;
  padding: 0;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
}

.event:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.dateContainer {
  width: 10%;
  min-width: 40px;
  height: 70px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin-right: 20px;
}

.dateDay {
  font-size: 24px;
  font-weight: bold;
}

.dateMonth {
  font-size: 14px;
  text-transform: uppercase;
}

.eventTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.eventDate {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}

.createButton {
  padding: 10px 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.createButton:hover {
  background-color: #006600;
}
