.h1 {
  padding-bottom: 1.5em;
  font-size: 300%;
}

.main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

@media (max-width: calc(114rem - 1px)) {
  .main {
    grid-template-columns: auto;
  }
}

.main section {
  display: grid;
  width: min(90vw, 55rem);
  align-self: center;
  text-align: center;
  gap: 1rem;
}

.main section img {
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
