.a {
  text-decoration: none;
  color: inherit;
  font-size: 125%;
}

.a,
.button {
  transition: 0.3s;
}

.body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main {
  display: grid;
  margin: 0 auto 0 auto;
  grid-template-columns: repeat(5, auto) 1fr;
  /* justify-items: right; */
  gap: 2rem;

  transition: 0.3s;
}

/* main section p {
    padding-bottom: 3em;
    padding-top: 3em;
} */

.main section {
  display: flexbox;
  align-self: center;
  text-align: center;
  gap: 1rem;
}

.main img {
  /* --img-width:200px;
  width: var(--img-width); */
  object-fit: cover;
  object-position: center;
  border-radius: 10%;
}
.main button {
  /* width: var(--img-width); */
  aspect-ratio: 1;
  border-radius: 10%;
  justify-self: center;
  overflow: hidden;
  background-color: transparent;
  border: none;
}

.no_website {
  color: white;
}

.no_website:hover {
  scale: 1;
  cursor: auto;
}

.main :is(a, button):hover {
  scale: 1.15;
}

@media (max-width: 1540px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1240px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 940px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .main {
    grid-template-columns: 1fr;
  }
}

table {
  border-collapse: collapse; /* Ensure the borders are not doubled */
  width: 100%;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

td {
  background-color: #444;
  color: white;
}
