<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Edit Event</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: nav}"></nav>
<form method="post" th:action="@{~/events}" th:object="${event}" enctype="multipart/form-data">
    <label>
        Title:
        <input th:field="*{title}" type="text">
    </label>
    <br>
    <label>
        Location:
        <input th:field="*{location}" type="text">
    </label>
    <br>
    <label>
        Type:
        <select th:field="*{type}">
            <option th:each="eventType : ${T(com.example.backend.enums.EventType).values()}"
                    th:value="${eventType}"
                    th:text="${eventType}"></option>
        </select>
    </label>
    <br>
    <label>
        Description:
        <input th:field="*{description}" type="text">
    </label>
    <br>
    <!--/*
    <label>
        Poster:
        <input th:field="*{poster}" type="file" name="poster">
    </label>
    <br>*/-->
    <span th:if="${#fields.hasErrors()}"
          th:text="${#fields.errors()}"></span>
    <button type="submit">Edit</button>
</form>
<div th:replace="~{fragments/head :: div.scripts}"></div>
</body>
</html>