<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>

<form method="post" th:action="@{~/events}" th:object="${newEvent}" enctype="multipart/form-data">
    <label>
        Titel:
        <input th:field="*{title}" type="text">
    </label>
    <br>
    <label>
        Locatie:
        <input th:field="*{location}" type="text">
    </label>
    <br>
    <label>
        Type:
        <select th:field="*{type}">
            <option th:each="eventType : ${T(com.example.backend.enums.EventType).values()}"
                    th:value="${eventType}"
                    th:text="${eventType}"></option>
        </select>
    </label>
    <br>
    <label>
        Beschrijving:
        <input th:field="*{description}" type="text">
    </label>
    <br>
    <label>
        Stoelen per tafel:
        <input th:field="*{seatsPerTable}" type="number">
    </label>
    <br>
    <label>
        Layout (lengte x hoogte) bv. 5x5:
        <input th:field="*{layout}" type="text">
    </label>
    <br>
    <!--/*
    <label>
        Poster:
        <input th:field="*{poster}" type="file" name="poster">
    </label>
    <br>*/-->
    <span th:if="${#fields.hasErrors()}"
          th:text="${#fields.errors()}"></span>
    <button type="submit">Add</button>
</form>

</body>
</html>