<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head :: head}">

    <title>Events</title>
    <style>
        .button:hover{
            scale:1.5;
        }
    </style>
</head>
<body>

<nav th:replace="~{fragments/navbar :: nav}"></nav>

<a th:href="@{/events/create}">
    <button>Create</button>
</a>


<div th:each="event : ${events}">
    <a class="btn btn-outline-dark" th:text="${event.getTitle()}" th:href="@{events/{id}(id=${event.id})}" role="button">Link</a>
</div>

<div th:replace="~{fragments/head :: div.scripts}"></div>
</body>
</html>