<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head :: head}">

    <title>Edit Event</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: nav}"></nav>
<div>
    <h3 th:text="'Title: ' + ${event.title}"></h3>
    <h4 th:text="'Location: ' + ${event.location}"></h4>
    <a class="btn btn-warning" th:href="@{/events/edit/{id}(id=${event.id})}" th:text="Edit" role="button"></a>
    <form th:action="@{/events/{id}(id=${event.id})}" th:method="delete" style="display:inline;">
        <button type="submit" th:text="Delete" class="btn btn-danger"></button>
    </form>
    <a class="btn btn-info" th:href="@{/events/layout/{id}(id=${event.id})}" th:text="Layout" role="button"></a>
</div>

<div th:replace="~{fragments/head :: div.scripts}"></div>
</body>
</html>