<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{fragments/head :: head}">
    <meta charset="UTF-8" />
    <title>User Sign-in</title>
</head>


<body>
<nav th:replace="~{fragments/navbar :: nav}"></nav>
<h1>Login</h1>
<div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <a th:href="@{/register}">Don't have an user? Register here</a>
    </div>
</div>
<div th:replace="~{fragments/head :: div.scripts}"></div>
</body>
</html>